/*.suo
/*.user

/ChessRun.Engine/*.user
/ChessRun.Engine/bin/
/ChessRun.Engine/obj/

/ChessRun.Pgn/*.user
/ChessRun.Pgn/bin/
/ChessRun.Pgn/obj/

/ChessRun.Engine.Tests/*.user
/ChessRun.Engine.Tests/bin/
/ChessRun.Engine.Tests/obj/

/ChessRun.Pgn.Tests/*.user
/ChessRun.Pgn.Tests/bin/
/ChessRun.Pgn.Tests/obj/

/ChessRun.Engine.Debugger/*.user
/ChessRun.Engine.Debugger/bin/
/ChessRun.Engine.Debugger/obj/

/ChessRun.Rasterizer/*.user
/ChessRun.Rasterizer/bin/
/ChessRun.Rasterizer/obj/

/ChessRun.Engine.Diagnostics/*.user
/ChessRun.Engine.Diagnostics/bin/
/ChessRun.Engine.Diagnostics/obj/
